@use '@shared/styles/variables.scss' as vars;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader__spinner {
  color: vars.$spring-forth !important;
  width: 100px !important;
  height: 100px !important;
}