@use '@shared/styles/_variables.scss' as vars;
@use '@shared/styles/_mixins.scss' as mixins;

.table {
  min-width: 410px;
  max-width: 600px;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0 0 5px 0 black;
  border: 2px solid green;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Bitter', sans-serif;
    @include mixins.text-style(18px, 25px, 700, vars.$hulk);
  }

  &__thead {
    background: linear-gradient(135deg, green, #81c784);
    text-align: center;
  }

  &__tr {
    height: 30px;
  }

  &__th {
    padding: 5px;
    text-align: center;
    @include mixins.text-style(18px, 18px, 600, vars.$white);
    border: 1px solid #e0e0e0;
  }

  &__td {
    letter-spacing: 1px;
    text-align: center;
    @include mixins.text-style(18px, 18px, 600);
    border: 1px solid #e0e0e0;
  }

  &__subheader {
    padding: 5px;
  }

  &__left {
    padding: 10px;
  }

  &__value {
    font-weight: 600;
    color: vars.$hulk;
  }

  &__body {
    .table__tr {
      &:nth-child(odd) {
        background-color: #f5f5f5;
      }

      &:nth-child(even) {
        background-color: white;
      }
    }
  }
}

@media (max-width: 1280px) {
  .table {
    &__title {
      margin-bottom: 10px;
      @include mixins.text-style(14px, 16px, 700, vars.$hulk);
    }

    &__th {
      padding: 5px;
      @include mixins.text-style(12px, 12px, 600, vars.$white);
    }

    &__td {
      @include mixins.text-style(12px, 12px, 600);
    }

    &__subheader {
      padding: 2px;
    }

    &__left {
      padding: 4px;
    }
  }
}
